<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>歡迎光臨</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <script src="{{ url_for('static', path='main.js') }}" defer></script>
</head>
<body>
    <header class="hero">
        <div class="container">
            <h1 class ="hero_title">失敗頁面</h1>
        </div>
    </header>

    <main class="container">
        <div class="card">
            <p>{{ message }}</p>
            <p><a href="/">返回首頁</a></p>
        </div>
    </main>
</body>
</html>